<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://majsterjunior-001-site1.itempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://majsterjunior-001-site1.itempurl.com:8172/MsDeploy.axd?site=majsterjunior-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>majsterjunior-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\majsterjunior-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StoreContext" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL6002,1433;Initial Catalog=DB_A2ECC8_stufflibrary;User ID=DB_A2ECC8_stufflibrary_admin;Password=browar111" Name="Data Source=SQL6002,1433;Initial Catalog=DB_A2ECC8_stufflibrary;User Id=DB_A2ECC8_stufflibrary_admin;Password=browar111;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Stuff_Library.DAL.StoreContext, Stuff_Library" MigrationConfiguration="Stuff_Library.Migrations.Configuration, Stuff_Library" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StoreContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL6002,1433;Initial Catalog=DB_A2ECC8_stufflibrary;User Id=DB_A2ECC8_stufflibrary_admin;Password=browar111;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>