
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h2>Informacje</h2>

<div style="margin-top: 20px; line-height: 22px;">
	Wszelkich informacji udzielam osobiście. Zapraszam do kontaktu: kontakt@robertjanczak.pl
</div>